<!-- Footer -->
<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
      <div class="row">
        <!-- Coluna 1: Sobre -->
        <div class="col-md-4">
          <h5>Sobre</h5>
          <p>Time FURIA Esports é uma organização profissional de eSports focada em proporcionar a melhor experiência competitiva para os jogadores e fãs.</p>
        </div>
        <!-- Coluna 2: Links -->
        <div class="col-md-4">
          <h5>Links rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Início</a></li>
            <li><a href="#" class="text-white">Equipe</a></li>
            <li><a href="#" class="text-white">Loja</a></li>
            <li><a href="#" class="text-white">Contato</a></li>
          </ul>
        </div>
        <!-- Coluna 3: Contato -->
        <div class="col-md-4">
          <h5>Contato</h5>
          <ul class="list-unstyled">
            <li>Email: <a href="mailto:contato@furiaesports.com" class="text-white">contatofuriaesports.com</a></li>
            <li>Telefone: +55 11 99999-9999</li>
            <li>Endereço: Rua Fictícia, 123 - São Paulo, SP</li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 text-center">
          <p>&copy; 2025 FURIA Esports. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  